<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>帐号设置</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="keywords" content="fly,layui,前端社区">
		<meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
		<link rel="stylesheet" href="css/layui.css">
		<link rel="stylesheet" href="css/global.css">
	</head>

	<body>

		<div class="fly-header layui-bg-black">
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md4 layui-col-md-offset5" style="height: 50px;font-size: 26px; line-height: 50px;">
					医疗体检管理系统
				</div>
			</div>
		</div>

		<div class="layui-container fly-marginTop fly-user-main">
			<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
				<li class="layui-nav-item">
					<a href="useandrate.html">
						<i class="layui-icon">&#xe612;</i>查询人员及费用明细
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="index.html">
						<i class="layui-icon">&#xe65e;</i>费用管理
					</a>
				</li>
				<li class="layui-nav-item layui-this">
					<a href="set.html">
						<i class="layui-icon">&#xe620;</i> 基本设置
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="message.html">
						<i class="layui-icon">&#xe611;</i> 我的消息
					</a>
				</li>
			</ul>

			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>

			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>

			<div class="fly-panel fly-panel-user" pad20>
				<table class="layui-hide" id="test"></table>
			</div>
		</div>
		</div>

		<div class="fly-footer">
			<p>
				<a href="http://fly.layui.com/" target="_blank">医疗体检系统</a> 2018 &copy;
				<a href="http://www.layui.com/" target="_blank">多元合创 出品</a>
			</p>
			<p>
				
				<a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
			</p>
		</div>

		<script src="layui.js"></script>
		<script>
			layui.use('table', function() {
				var table = layui.table;

				 table.render({
    elem: '#test'
    ,url:'table/use.json'
    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
    ,cols: [[//对应json名字直接绑上
      {field:'id', title: '体检编号', sort: true}
      ,{field:'username', title: '姓名'} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
      ,{field:'sex', title: '年龄', sort: true}
      ,{field:'city', title: '城市'}
      ,{field:'sign', title: '签名'}
      ,{field:'classify', title: '职业', align: 'center'} //单元格内容水平居中
      ,{field:'experience', title: '积分', sort: true, align: 'right'} //单元格内容水平居中
      ,{field:'score', title: '评分', sort: true, align: 'right'}
      ,{field:'wealth', title: '财富', sort: true, align: 'right'}
    ]]
  });
			});
			
			layui.cache.page = 'user';
			layui.cache.user = {
				username: '游客',
				uid: -1,
				avatar: '../../res/images/avatar/00.jpg',
				experience: 83,
				sex: '男'
			};
			layui.config({
				version: "2.0.0",
				base: '../../res/mods/'
			}).extend({
				fly: 'index'
			}).use('fly');
		</script>

	</body>

</html>