<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospital.dao.PackageMedicalMapper">

    <select id="getPackageInfoByPackageId" resultType="com.dyhc.hospital.entity.PackageMedical">
        select * from package_medical where packageId=#{packageId}
    </select>

</mapper>